.vscode/**
.vscode-test/**
src/**
tests/**
.editorconfig
.prettierrc.cjs
.gitignore
.vscodeignore
tsconfig.json
tsconfig.tsbuildinfo
eslint.config.cjs
eslint.ignores.cjs
bundle.mjs
bun.lock
package-lock.json
node_modules/**
out/**
!out/extension.js
**/*.map
**/*.ts
