.vscode/**
.vscode-test/**
.github/**
src/**
tests/**
.gitignore
.npmignore
.editorconfig
.prettierrc.cjs
tsconfig.json
tsconfig.tsbuildinfo
eslint.config.cjs
eslint.ignores.cjs
bundle.mjs
bun.lock
package-lock.json
**/*.map
**/*.ts
node_modules/**
out/**
!out/extension.js
bundle.js
